/* colours.css: Define your color palette as CSS variables */
:root {
    --primary-main: #33FF66;
    --primary-light: #33FF66;
    --primary-dark: #33FF66;
    --secondary-main: #e5c07b;
    --secondary-light: #e5c07b;
    --secondary-dark: #e5c07b;
    --background-default: #000;
    --background-paper: #444;
    --text-primary: #333333;
    --text-secondary: #0f0e0e;

    --yellow: #e5c07b;
}