/* colours.css: Define your color palette as CSS variables */
:root {
    --primary-main: #e7f30c;
    --primary-light: #e7f30c;
    --primary-dark: #e7f30c;
    --secondary-main: #f30c9e;
    --secondary-light: #f30c9e;
    --secondary-dark: #f30c9e;
    --background-default: #fff;
    --background-paper: #fff;
    --text-primary: #333333;
    --text-secondary: #333333;
    --text-headings: #ff0000;
}