/* colours.css: Define your color palette as CSS variables */
:root {
    --primary-main: #C09F52;
    --primary-light: #eaac1d;
    --primary-dark: #574b2d;
    --secondary-main: #0ce0f3;
    --secondary-light: #8ff6ff;
    --secondary-dark: #15666d;
    --background-default: #fff;
    --background-paper: #f7f5f5;
    --text-primary: #333333;
    --text-secondary: #0f0e0e;
}